body{
	margin: 0px;
}
div#main-page{
	
}
div#left-menu{
	display: inline-block;
	height: 100vh;
	width: 20%;
	border: 1px solid #f00;
	box-sizing: border-box;
}
div#content{
	display: inline-block;
	height: 100vh;
	width: 80%;
	border: 1px solid #0f0;
	box-sizing: border-box;
}